/* effect navbar JS */
.navback {
  background-color: white;
  color: #222;
  -webkit-box-shadow: 0 0 10px rgba(117, 93, 79, 0.3);
          box-shadow: 0 0 10px rgba(117, 93, 79, 0.3);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

body.dark-mode .navback {
  background-color: #333;
  color: #ffffff;
}

header {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

header .navbar .box-logo {
  margin: 10px 40px;
}

header .navbar .box-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* button submenu */
  /* deploy class button JS */
  /* SideBar Menu */
  /* deploy menu active */
}

header .navbar .box-navbar li {
  list-style: none;
  margin: 10px 10px;
}

header .navbar .box-navbar li .box-navbar-interfaz {
  text-decoration: none;
  color: #222;
  padding: 10px 15px;
  border-radius: 30px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

body.dark-mode header .navbar .box-navbar li .box-navbar-interfaz {
  color: #ffff;
}

header .navbar .box-navbar li .box-navbar-interfaz:hover {
  background-color: #e1dada;
  border-radius: 30px;
  padding: 10px 15px;
}

body.dark-mode header .navbar .box-navbar li .box-navbar-interfaz:hover {
  color: #000000;
}

header .navbar .box-navbar .btn-menu-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  background-color: #615e5e;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  padding: 10px;
  margin-right: 10px;
  transition: all 500ms;
  cursor: pointer;
}

header .navbar .box-navbar .btn-menu-box:hover {
  background-color: #12A7D7;
}

header .navbar .box-navbar .deploy {
  margin-right: 250px;
  cursor: pointer;
}

header .navbar .box-navbar .submenu {
  position: fixed;
  top: 0;
  right: -240px;
  height: 100%;
  width: 240px;
  z-index: 10;
  background-color: white;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 10px rgba(117, 93, 79, 0.3);
          box-shadow: 0 0 10px rgba(117, 93, 79, 0.3);
  /* button dark mode */
}

body.dark-mode header .navbar .box-navbar .submenu {
  background-color: #333;
  color: #ffffff;
}

header .navbar .box-navbar .submenu button {
  background-color: #222;
  width: 100%;
  border: none;
  font-weight: 600;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  color: white;
  font-size: 20px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  cursor: pointer;
}

body.dark-mode header .navbar .box-navbar .submenu button {
  background-color: #ffff;
  color: #333;
}

header .navbar .box-navbar .submenu button:hover {
  background-color: #12A7D7;
}

header .navbar .box-navbar .submenu li {
  background-color: #222;
  width: 100%;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  color: white;
  font-size: 20px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  cursor: pointer;
}

body.dark-mode header .navbar .box-navbar .submenu li {
  background-color: #ffff;
  color: #333;
}

header .navbar .box-navbar .submenu li:hover {
  background-color: #12A7D7;
}

header .navbar .box-navbar .submenu li .submenu-interfaz {
  text-decoration: none;
  padding: 0px 25px;
  font-size: 20px;
  color: white;
}

body.dark-mode header .navbar .box-navbar .submenu li .submenu-interfaz {
  color: #333;
}

header .navbar .box-navbar .submenu .btn-dark {
  padding: 5px 10px;
  border: none;
  background-color: #363535;
  border-radius: 20px;
  margin-right: 20px;
  width: 30%;
  margin: 0 auto;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  cursor: pointer;
}

body.dark-mode header .navbar .box-navbar .submenu .btn-dark {
  background-color: #ffffff;
  color: #060606;
}

header .navbar .box-navbar .submenu .btn-dark:hover {
  background-color: #12A7D7;
  color: white;
}

header .navbar .box-navbar .submenu .btn-dark i {
  font-size: 20px;
}

header .navbar .box-navbar .active {
  right: 0;
}

/* box home */
.home-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 150px;
  width: 100%;
  /* home imagen */
}

.home-box .home-box-menu {
  width: 100%;
  /* titule home */
  /* inputs search - home */
}

.home-box .home-box-menu .home-box-menu-titule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: initial;
  margin: 0 auto;
  width: 50%;
}

.home-box .home-box-menu .home-box-menu-titule h1 {
  font-size: 50px;
}

.home-box .home-box-menu .home-box-menu-titule h1 span {
  color: #12A7D7;
}

.home-box .home-box-menu .home-box-menu-titule h2 {
  font-size: 50px;
}

.home-box .home-box-menu .home-box-menu-titule h2 span {
  color: #12A7D7;
}

.home-box .home-box-menu .home-box-menu-titule p {
  color: #8A8A8A;
}

.home-box .home-box-menu .home-box_search {
  margin: 20px auto;
  width: 50%;
}

.home-box .home-box-menu .home-box_search .content-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
}

.home-box .home-box-menu .home-box_search .content-search .icon i {
  font-size: 20px;
  color: #0F335E;
  margin: 0px 10px 0px 0px;
}

.home-box .home-box-menu .home-box_search .content-search .search-input {
  background-color: #ffffff;
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #ffffff;
  padding: 5px;
  color: #0F335E;
  outline: none;
}

.home-box .home-box-menu .home-box_search .content-search .btn-search {
  background-color: #12A7D7;
  border-radius: 30px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  margin: 0px 0px 0px 20px;
}

.home-box .home-box-menu .home-box_search .content-search .btn-search:hover {
  background-color: #2db8d3;
  border-radius: 30px;
  padding: 10px 20px;
}

.home-box .home-img {
  width: 100%;
}

.home-box .home-img img {
  width: 80%;
}

/* box information course */
.home-information-course {
  background-color: #0c8bca;
  border-radius: 20px;
  margin: 0 auto;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 3fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 3fr));
  padding: 30px 50px;
  gap: 10px;
  position: relative;
  top: 35px;
  -webkit-box-shadow: 0 0 10px rgba(117, 93, 79, 0.3);
          box-shadow: 0 0 10px rgba(117, 93, 79, 0.3);
}

.home-information-course .box-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  color: #FFFFFF;
}

.home-information-course .box-information .box-img-information {
  background-color: rgba(255, 255, 255, 0.644);
  padding: 15px;
  border-radius: 20px;
  margin-right: 15px;
}

.home-information-course .box-information .box-information-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-information-course .box-information .box-information-text h2 {
  font-size: 25px;
  color: #FFFFFF;
}

.home-information-course .box-information .box-information-text p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.653);
}

.box-courses {
  background-color: white;
  padding: 70px 0px 0px 0px;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.dark-mode .box-courses {
  background-color: #1c1a1a;
}

.box-courses h2 {
  font-size: 40px;
  color: #222;
}

body.dark-mode .box-courses h2 {
  color: #ffffff;
}

.box-courses .box-courses_p-style {
  color: rgba(163, 163, 163, 0.561);
}

body.dark-mode .box-courses .box-courses_p-style {
  color: #e1dcdc;
}

.box-courses .box-courses-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.box-courses .box-courses-card .courses-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 15px;
  margin: 15px 30px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(117, 93, 79, 0.3);
          box-shadow: 0 0 10px rgba(117, 93, 79, 0.3);
}

body.dark-mode .box-courses .box-courses-card .courses-card {
  background-color: #333;
  -webkit-box-shadow: 0 0 5px rgba(250, 250, 250, 0.358);
          box-shadow: 0 0 5px rgba(250, 250, 250, 0.358);
}

.box-courses .box-courses-card .courses-card .coursesImg {
  width: 300px;
  height: 250px;
}

.box-courses .box-courses-card .courses-card .coursesTextCategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgba(149, 147, 147, 0.49);
}

body.dark-mode .box-courses .box-courses-card .courses-card .coursesTextCategory {
  color: #e1dcdc;
}

.box-courses .box-courses-card .courses-card .coursesTituleH2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  font-size: 30px;
  text-align: center;
  color: #222;
}

body.dark-mode .box-courses .box-courses-card .courses-card .coursesTituleH2 {
  color: white;
}

.box-courses .box-courses-card .courses-card .coursesText {
  color: #0c8bca;
  font-size: 20px;
  width: 90%;
  margin-bottom: 5px;
  text-align: left;
}

.box-courses .box-courses-card .courses-card .coursesTextClock {
  width: 90%;
  text-align: left;
  margin: 0px 20px;
}

.box-courses .box-courses-card .courses-card .coursesTextVideo {
  width: 90%;
  text-align: left;
  margin: 0px 20px;
}

.box-courses .box-courses-card .courses-card .btnbuy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: #0c8bca;
  color: white;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 15px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.footer {
  background-color: #FDF8EE;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 3fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 3fr));
  gap: 50px;
  padding: 20px 100px;
}

body.dark-mode .footer {
  background-color: #353535;
}

.footer .box-footer-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.footer .box-footer-information p {
  color: #606060;
}

body.dark-mode .footer .box-footer-information p {
  color: #d9d7d4;
}

.footer .box-footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer .box-footer-contact h2 {
  margin-bottom: 15px;
}

.footer .box-footer-contact span {
  margin-bottom: 10px;
  color: #606060;
}

body.dark-mode .footer .box-footer-contact span {
  color: #d9d7d4;
}

.footer .box-footer-contact span a {
  text-decoration: none;
  color: #606060;
}

body.dark-mode .footer .box-footer-contact span a {
  color: #d9d7d4;
}

.footer .box-footer-socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer .box-footer-socialMedia h2 {
  margin-bottom: 15px;
}

.footer .box-footer-socialMedia span {
  margin-bottom: 10px;
}

.footer .box-footer-socialMedia span a {
  text-decoration: none;
  color: #606060;
}

body.dark-mode .footer .box-footer-socialMedia span a {
  color: #d9d7d4;
}

.autor-copyright {
  background-color: #FDF8EE;
  padding: 20px;
  text-align: center;
}

body.dark-mode .autor-copyright {
  background-color: #353535;
}

.autor-copyright .bar {
  width: 90%;
  margin: 10px auto;
  background-color: #353535;
  height: 5px;
}

body.dark-mode .autor-copyright .bar {
  background-color: #FDF8EE;
}

.autor-copyright p {
  font-size: 20px;
  color: #353535;
  margin-top: 20px;
}

body.dark-mode .autor-copyright p {
  color: #d9d7d4;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #cccaca;
  color: black;
  font-family: sans-serif;
  font-weight: 600;
  -webkit-transition: .3 ease all;
  transition: .3 ease all;
  background: url(../img/ilustraciones/Fondo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

body.dark-mode {
  background: url(../img/ilustraciones/FondoDarkMode.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-size: cover;
  background-color: #333;
  color: #ffff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #e9e7e3;
}

::-webkit-scrollbar-thumb {
  background-color: #0b80bf;
  padding: 10px;
}
/*# sourceMappingURL=main.css.map */