/* effect navbar JS */
.navback {
  background-color: white;
  color: #222;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

/* effect in the navbar scroll fixed */
header {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
  /* navbar */
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  /* content navbar */
}

header .navbar .logo {
  margin: 10px 40px;
}

header .navbar .box-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* button submenu */
  /* deploy class button */
  /* SideBar Menu */
  /* deploy menu active */
}

header .navbar .box-navbar li {
  list-style: none;
  margin: 10px 10px;
}

header .navbar .box-navbar li .box-navbar-interfaz {
  text-decoration: none;
  color: #222;
  padding: 10px 15px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

header .navbar .box-navbar li .box-navbar-interfaz:hover {
  background-color: #e1dada;
  border-radius: 30px;
  padding: 10px 15px;
}

header .navbar .box-navbar .btn-menu-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  background-color: #299dc0;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  padding: 10px;
  margin-right: 10px;
  transition: all 500ms;
  cursor: pointer;
}

header .navbar .box-navbar .btn-menu-box:hover {
  background-color: #12A7D7;
}

header .navbar .box-navbar .deploy {
  margin-right: 250px;
  cursor: pointer;
}

header .navbar .box-navbar .submenu {
  position: fixed;
  top: 0;
  right: -240px;
  height: 100%;
  width: 240px;
  z-index: 10;
  background-color: white;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* button dark mode */
}

header .navbar .box-navbar .submenu li {
  background-color: #222;
  width: 100%;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  color: white;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  cursor: pointer;
}

header .navbar .box-navbar .submenu li:hover {
  background-color: #12A7D7;
}

header .navbar .box-navbar .submenu li .submenu-interfaz {
  text-decoration: none;
  padding: 10px 40px;
  font-size: 20px;
  color: white;
}

header .navbar .box-navbar .submenu .btn-dark {
  padding: 5px 10px;
  border: none;
  background-color: #e7e4e4;
  border-radius: 20px;
  margin-right: 20px;
  width: 30%;
  margin: 0 auto;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  cursor: pointer;
}

header .navbar .box-navbar .submenu .btn-dark:hover {
  background-color: #12A7D7;
  color: white;
}

header .navbar .box-navbar .submenu .btn-dark i {
  font-size: 20px;
}

header .navbar .box-navbar .active {
  right: 0;
}

/* box home */
.home-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 150px;
  width: 100%;
  /* home imagen */
}

.home-box .home-box-menu {
  /* titule home */
  /* inputs search - home */
}

.home-box .home-box-menu .home-box-menu-titule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: initial;
  margin: 0 auto;
  width: 50%;
}

.home-box .home-box-menu .home-box-menu-titule h1 {
  font-size: 50px;
}

.home-box .home-box-menu .home-box-menu-titule h1 span {
  color: #12A7D7;
}

.home-box .home-box-menu .home-box-menu-titule h2 {
  font-size: 50px;
}

.home-box .home-box-menu .home-box-menu-titule h2 span {
  color: #12A7D7;
}

.home-box .home-box-menu .home-box-menu-titule p {
  color: #8A8A8A;
}

.home-box .home-box-menu .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  margin: 50px 0px 0px 250px;
  width: 40%;
  padding: 10px 60px;
  border-radius: 20px;
}

.home-box .home-box-menu .search-box .icon i {
  font-size: 20px;
  color: #0F335E;
  margin: 0px 10px 0px 0px;
}

.home-box .home-box-menu .search-box .search {
  border: none;
  background-color: #ffffff;
  padding: 5px;
  color: #0F335E;
}

.home-box .home-box-menu .search-box .btn-search {
  background-color: #12A7D7;
  border-radius: 30px;
  border: none;
  font-size: 15px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  margin: 0px 0px 0px 20px;
}

.home-box .home-box-menu .search-box .btn-search:hover {
  background-color: #2db8d3;
  border-radius: 30px;
  padding: 10px 20px;
}

.home-box .home-img {
  padding: 30px 0px;
  margin-right: 80px;
  width: 100%;
}

.home-information-course {
  background-color: #0c8bca;
  border-radius: 20px;
  margin: 0 auto;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 30px 50px;
  gap: 10px;
  position: relative;
  top: 35px;
}

.home-information-course .box-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  color: #FFFFFF;
}

.home-information-course .box-information .box-img-information {
  background-color: rgba(255, 255, 255, 0.644);
  padding: 15px;
  border-radius: 20px;
  margin-right: 15px;
}

.home-information-course .box-information .box-information-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-information-course .box-information .box-information-text h2 {
  font-size: 25px;
  color: #FFFFFF;
}

.home-information-course .box-information .box-information-text p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.653);
}

.box-courses {
  background-color: white;
  padding: 90px 0px;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-courses h2 {
  font-size: 40px;
  color: #222;
}

.box-courses .p-style {
  color: rgba(163, 163, 163, 0.561);
}

.box-courses .box-courses-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px auto;
}

.box-courses .box-courses-card .courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  width: 23%;
  padding: 15px;
  border-radius: 20px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px rgba(117, 93, 79, 0.3);
          box-shadow: 0 0 10px rgba(117, 93, 79, 0.3);
}

.box-courses .box-courses-card .courses .courses-img img {
  width: 100%;
}

.box-courses .box-courses-card .courses .course-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.box-courses .box-courses-card .courses .course-info p {
  color: rgba(149, 147, 147, 0.49);
}

.box-courses .box-courses-card .courses .course-titule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.box-courses .box-courses-card .courses .course-titule h2 {
  font-size: 20px;
  text-align: left;
  color: #222;
}

.box-courses .box-courses-card .courses .course-titule p {
  color: #0c8bca;
  font-size: 20px;
  text-align: left;
}

.box-courses .box-courses-card .courses .course-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-courses .box-courses-card .courses .course-hours p {
  margin: 0px 20px;
}

.box-courses .box-courses-card .courses .btn-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-courses .box-courses-card .courses .btn-buy button {
  border: none;
  background-color: #0c8bca;
  color: white;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #cccaca;
  color: black;
  font-family: sans-serif;
  font-weight: 600;
  -webkit-transition: .3 ease all;
  transition: .3 ease all;
  background: url(../img/ilustraciones/Fondo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #e9e7e3;
}

::-webkit-scrollbar-thumb {
  background-color: #0b80bf;
  padding: 10px;
}
/*# sourceMappingURL=main.css.map */