 /* effect navbar JS */
 .navback{
    background-color: white;
    color: #222;
    box-shadow: 0 0 10px rgba(117, 93, 79, 0.3);
    transition: all 300ms;
    body.dark-mode &{
        background-color: #333;
        color: #ffffff;
    }
}

/* effect in the navbar scroll fixed */
header{
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
    /* navbar */
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        .logo{
            margin: 10px 40px;
        }
        /* content navbar */
        .box-navbar{
            display: flex;
            justify-content: center;
            li{
                list-style: none;
                margin: 10px 10px;
                .box-navbar-interfaz{
                    text-decoration: none;
                    color: #222;
                    padding: 10px 15px;
                    border-radius: 30px;
                    transition: all 500ms;
                    body.dark-mode &{
                        color: #ffff;
                    }
                    &:hover{
                        background-color: rgb(225, 218, 218);
                        border-radius: 30px;
                        padding: 10px 15px;
                        body.dark-mode &{
                            color: #000000;
                        }
                    }
                }
            }
            /* button submenu */
            .btn-menu-box {
                justify-content: center;
                align-items: center;
                border: none;
                display: flex;
                transition: all 500ms;
                background-color: rgb(97, 94, 94);
                border-radius: 5px;
                font-size: 15px;
                color: white;
                padding: 10px;
                margin-right: 10px;
                transition: all 500ms;
                cursor: pointer;
                &:hover{
                    background-color: #12A7D7;
                }
            }
            /* deploy class button */
            .deploy{
                margin-right: 250px;
                cursor: pointer;
            }
            /* SideBar Menu */
            .submenu{
                position: fixed;
                top: 0;
                right: -240px;
                height: 100%;
                width: 240px;
                z-index: 10;
                background-color: white;
                transition: all 500ms;
                padding: 20px 10px;
                display: flex;
                flex-direction: column;
                box-shadow: 0 0 10px rgba(117, 93, 79, 0.3);
                body.dark-mode &{
                    background-color: #333;
                    color: #ffffff;
                }
                li{
                    background-color: #222;
                    width: 100%;
                    margin: 10px 0px 20px 0px;
                    padding: 10px;
                    color: white;
                    font-size: 20px;
                    transition: all 500ms;
                    cursor: pointer;
                    body.dark-mode &{
                        background-color: #ffff;
                        color: #333;
                    }
                    &:hover{
                        background-color: #12A7D7;
                    }
                    .submenu-interfaz{
                        text-decoration: none;
                        padding: 0px 25px;
                        font-size: 20px;
                        color: white;
                        body.dark-mode &{
                            color: #333;
                        }
                    }
                }
                /* button dark mode */
                .btn-dark{
                    padding: 5px 10px;
                    border: none;
                    background-color: rgb(231, 228, 228);
                    border-radius: 20px;
                    margin-right: 20px;
                    width: 30%;
                    margin: 0 auto;
                    transition: all 500ms;
                    cursor: pointer;
                    body.dark-mode &{
                        background-color: #ffffff;
                        color: #060606;
                    }
                    &:hover{
                        background-color: #12A7D7;
                        color: white;
                    }
                    i{
                        font-size: 20px;
                    }
                }
            }
            /* deploy menu active */
            .active{
                right: 0;
            }
        }
        
    }
}


