 /* effect navbar JS */
 .navback{
    background-color: white;
    color: #222;
    transition: all 300ms;
}

/* effect in the navbar scroll fixed */
header{
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        .logo{
            margin: 10px 40px;
        }
        .box-navbar{
            display: flex;
            justify-content: center;
            li{
                list-style: none;
                margin: 10px 30px;
                a{
                    text-decoration: none;
                    color: #222;
                    padding: 10px 15px;
                    transition: all 500ms;
                    &:hover{
                        background-color: rgb(225, 218, 218);
                        border-radius: 30px;
                        padding: 10px 15px;
                    }
                }
                i{
                    font-size: 25px;
                    transition: all 500ms;
                    cursor: pointer;
                    &:hover{
                        color: #12A7D7;
                    }
                }
                .user-init{
                    background-color: #12A7D7;
                    border-radius: 30px;
                    padding: 10px 40px;
                    font-size: 20px;
                    color: white;
                    &:hover{
                        background-color: rgb(80, 192, 214);
                        border-radius: 30px;
                        padding: 10px 40px;
                    }
                }
            }
        }
    }
}


